{% autoescape None %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Metatone Performance Tracker</title>
    <link rel="stylesheet" href="{{ static_url("classifier.css") }}" type="text/css"/>
    <script type="text/javascript" src="{{ static_url("d3.v3.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("mpld3.v0.3.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("jquery-3.2.1.min.js") }}"></script>
  </head>
  <body>
  <div id="plots">
    <div id="gestureplot"></div>
    <script type="text/javascript">
    var plotjson = {{ plot }}
    mpld3.draw_figure("gestureplot", plotjson)
    </script>
  </div>

  <script>
    setInterval(function()
    {
        $.get('/gestureplot', function(data) {
            $('#plots').html(data);
        });
    }, 1000);
  </script>
  </body>
</html>